
{% extends 'base1.html' %} 
{% block content%}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ABOUT WISDSOL TECH</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{%url 'home'%}">WISDSOL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to WISDSOL-TECH</h1>
      <!-- <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p> -->
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About WISDSOL-TECH</h2>
          <p class="lead"> WisdSol-Tech (Wisdom Solution Technology)is one 
            of the few IT system integration, professional service and software 
            development companies in Ghana that works with Enterprise,
             companies, School, Hospital, Pharmacy As a privately owned 
             company, WisdSol-Tech provides IT Consultancy, software
              design and development  to the following verticals:</p>
          <ul>
            <li>Education</li>
            <li>Health Care</li>
            <li>Financial Services</li>
            <li>Environmental</li>
           
          </ul>
          <p>
            WisdSol-Tech is located in Accra, Ghana (West Africa), offering fully fledged services for software development to its clients.
          </p>
          <br>
          <p>
            WisdSol’s differentiation point comes with three simple principles:
          </p>
          <ul>
            <li>True collaboration with customers and partners </li>
            <li>Complete understanding of customers business </li>
            <li>Persistence in finishing the job whatever it takes. </li>
          </ul>
          <p>
            We also have special expertise in custom software development – 
            providing specialized products, IT services and custom end to end solutions to our enterprise 
            customers. We gain competitive advantage from these distinctive capabilities and have developed 
            the ability to implement and manage complex IT systems in changing times with greater effectiveness.</p>
            <br>
            <p> WisdSol-Tech is a company which intends to be in front of the client’s needs, deeply understanding clients’
            business and delivering and optimizing IT solutions from the initial phase of scoping the requirements, 
            up to the final delivery, maintenance and continuous upgrade. Infinite always look at the things from the 
            customer perspective, but also from customer’s customer perspective to grasp their real business need for 
            the IT solutions they deliver.</p>
            <br>
            <p>Our team operates with enthusiasm and flexibility. We are focused on our customers, being their reliable 
            partner for IT services and solutions, working together on a partnership basis, helping them face the challenges of the modern times.
          </p>
          <h2>Mission</h2>
          <p>
          WisdSol-Tech’s mission is to enhance the business operation 
          of its clients by developing and/or implementing premium 
          IT products and services.
          WisdSol-Tech’ mission includes:</p>
          <ul>
            <li>Providing high quality software development services, </li>
            <li>Improving communication and data exchange</li>
            <li>Providing our employees with meaningful work and advancement opportunities.</li>
          </ul>
          <h2> Vision</h2>
         
          WisdSol-Tech is a leading IT company for
          Consulting Services and Deployment
          of best of breed Business Solutions to
           top tier domestic and international customers.

        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">
            <ul>
            <li>
              School management system 
            </li>
            <li>
              Hospital and Pharmacy management system
            </li>
            <li>
              Financial Software Development
            </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contacts(Talk to us)We would love to hear from you, please use any of the following means to contact us:</h2>
          <p class="lead">
            
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <!-- <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your wisdsol 2021</p>
    </div>
   
  </footer> -->
 <!-- /.container -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
{%endblock%}