{% extends 'base1.html' %}

{% block title %} 
    Login
{% endblock %}

 {% block content%}



<h1>Login...</h1>
<br/><br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Login</button>
        <p><strong>-- OR --</strong></p>
        <p>
            <div class="row">
            <div class="col-md-8 mx-auto social-container my-2 order-md-1">
                <button class="btn btn-danger  mb-2">
                    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></button>
                <button class="btn btn-primary mb-2">
                    <a href="{% url 'social:begin' 'github' %}">Login with Github</a></button>
                <button class="btn btn-info mb-2">
                    <a href="#">Login with LinkedIn</a></button>
                <button class="btn btn-danger  mb-2">
                    <a href="{% url 'social:begin' 'instagram' %}">Login with Instagram</a></button>
            </div>
        </div>
        </p>
    </form>
</div>


  
  <br>
  
  
 {% endblock  %}